<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">Role Radar</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'key_skills' %}">
                        <div class="icon icon-box-success ">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                        </a>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Finding key skills</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">Roadmap</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'roadmap' %}">
                        <div class="icon icon-box-success ">

                            <span class="mdi mdi-arrow-top-right icon-item"></span>

                        </div>
                        </a>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Finding a career roadmap</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">Resume</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'resume' %}">
                        <div class="icon icon-box-success ">

                                <span class="mdi mdi-arrow-top-right icon-item"></span>

                        </div>
                        </a>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Creating a professional resume</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">Career advice</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'advice' %}">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>

                        </div>
                    </a>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Get career advice</h6>
            </div>
        </div>
    </div>
</div>