                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">RoleRadar 2025</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Developed and designed by
                            <a href="https://github.com/Marci051" target="_blank">
                                Fatemeh Delkhosh
                            </a>
                        </span>
                    </div>
                </footer>